.container
  - @protfolios.each do |protfolio|
    =link_to protfolio_path(protfolio) do
      .card
        .card_image
          - if protfolio.eyecatch.attached?
            = image_tag protfolio.eyecatch
        .card_content
          .card_detail
            = image_tag protfolio.user.avatar_image
            %div
              - if protfolio.user.present?
                %p= protfolio.user.display_name
          .card_title
            = protfolio.title
          .card_overview
            = protfolio.content
          .card_created
            %p 投稿日：
            %p= protfolio.display_created_at