.container
  - if @protfolio.eyecatch.attached?
    .protfolio_image
      = image_tag @protfolio.eyecatch
  .protfolio
    %h1.protfolio_title= @protfolio.title
    - if user_signed_in? && current_user.has_written?(@protfolio)
      .protfolio_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_protfolio_path(@protfolio)
            = link_to '削除する', protfolio_path(@protfolio), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .protfolio_content
      .protfolio_detail
        = image_tag @protfolio.user.avatar_image
        %div
          - if @protfolio.user.present?
            %p= @protfolio.user.display_name
      .protfolio_overview
        = @protfolio.content
      .protfolio_url
        = link_to 'GO to Protfolio', @protfolio.url, class: 'protfolio_url_btn'
      .protfolio_icon
        - if user_signed_in?
          - if current_user.has_liked?(@protfolio)
            .protfolio_icon_heart
              = link_to protfolio_like_path(@protfolio), data: { method: 'delete' } do
                = image_tag 'heart-active.png'
              .like_count
                %p= @protfolio.like_count
          - else
            .protfolio_icon_heart
              = link_to protfolio_like_path(@protfolio), data: { method: 'post' } do
                = image_tag 'heart.png'
              .like_count
                %p= @protfolio.like_count
        .protfolio_icon_comment
          = image_tag 'comment.png'
        .protfolio_icon_share
          = link_to "https://twitter.com/share?url=#{ request.url }&text=ProtfolioAPPの投稿をシェアしました。", target: '_blank' do
            = image_tag 'share.png'
